# ðŸ«¡ tweet volume October 28, 2022 through February 19, 2023

In [1]:
import altair as alt
import pandas as pd

In [18]:
df = pd.read_csv(
    "data/saluting-face-2022-10-28-2023-02-19-tweet-times.txt",
    names=["utc_timestamp"],
    header=None,
    parse_dates=["utc_timestamp"],
)

In [19]:
df["days"] = df["utc_timestamp"].dt.to_period("D")

/home/nruest/.pyenv/versions/3.9.9/lib/python3.9/site-packages/pandas/core/arrays/datetimes.py:1143: UserWarning: Converting to PeriodArray/Index representation will drop timezone information.
  warnings.warn(

In [20]:
df.head()

              utc_timestamp        days
0 2022-10-30 23:59:59+00:00  2022-10-30
1 2022-10-30 23:59:58+00:00  2022-10-30
2 2022-10-30 23:59:58+00:00  2022-10-30
3 2022-10-30 23:59:57+00:00  2022-10-30
4 2022-10-30 23:59:57+00:00  2022-10-30

In [21]:
data = (
    df.groupby(df["days"], as_index=False)
    .count()
    .rename(columns={"days": "Date", "utc_timestamp": "Tweets"})
)

In [22]:
data.head()

         Date  Tweets
0  2022-10-28  170137
1  2022-10-29  158057
2  2022-10-30  155551
3  2022-11-01  195660
4  2022-11-02  196395

In [23]:
data["Date"] = data["Date"].astype(str)

In [24]:
data

           Date  Tweets
0    2022-10-28  170137
1    2022-10-29  158057
2    2022-10-30  155551
3    2022-11-01  195660
4    2022-11-02  196395
..          ...     ...
104  2023-02-14  231153
105  2023-02-15  212517
106  2023-02-16  217280
107  2023-02-17  218877
108  2023-02-18  203115

[109 rows x 2 columns]

In [27]:
chart = alt.Chart(data).mark_bar().encode(
               x=alt.X("Tweets:Q"),
               y=alt.Y("Date:O"),
               color=alt.condition(
                 alt.FieldOneOfPredicate('Date', ['2022-11-05', '2022-11-10', '2022-11-16', '2022-11-17', '2022-11-18', '2022-11-19', '2022-11-03']),
                 alt.value('#ee4784'),     
                 alt.value('#3d52a8')
               )
           )

chart_text = chart.mark_text(align="left", baseline="middle", dx=3).encode(
     text="Tweets:Q"
)

(chart + chart_text).properties(
    width=1500,
    height=2200,
    title="ðŸ«¡ tweet volume October 28, 2022 through February 19, 2023",
).configure_title(fontSize=30, font="Verdana", align="center", color="black", dy=-3)

alt.LayerChart(...)